// Colors
$color-primary: #3256E3;
$color-secondary: #000000;
$color-background: #FFFFFF;
$color-error: #DB524E;
$color-gray: #E6EAF5;
$color-light-gray: #FCFCFF;
$color-dark-gray: #929BBC;

// Device breakpoints
$breakpoint-tablet: 576px;
$breakpoint-desktop: 768px;
